*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

/.metadata/
/.settings/
/js/highcharts.js
/js/highstock.js
/js/adapters/mootools-adapter.js
/js/adapters/prototype-adapter.js
/js/modules/exporting.js
/build
/.project
/git-ignore-me.properties
/highcharts.com.sublime-project